#app {
  height: 100%;
  background-image: url("./resources/photo-1520034475321-cbe63696469a.webp");
  background-size:     cover;                 
  background-repeat:   no-repeat;
  background-position: center center; 
}
