
.header-text, .version-number 
{
    color: whitesmoke;
}


.main-menu-content
{
    background-color: black;
    height: 500px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    position:relative;
    border: 3px solid white; 
    top: 30%;
    text-align: center; 
    justify-content: center;
}

.answer-btn 
{
     padding: .9em 2.3em;
     width: 300px;
     margin: 0.6em 0;
     cursor: pointer;
     font-size: 1.5em;
     letter-spacing: 0.04em;
} 

.answer-btn2 
{
    padding: .9em 2.3em;
    width: 400px;
    margin: 0.6em 0;
    cursor: pointer;
    font-size: 1.5em;
    letter-spacing: 0.04em;
}